<div class="footer ">
    <div class="footer-contact-content">

    <div class="footer-getintouch-content">
<h4>Get in touch</h4>
<div class="email-content">
    <p>ehtishamali551@gmail.com</p>
    <img src="../../../assets/email.svg" alt="email">
</div>
<div class="address-content">
    <p>E#12 POF Havelian Cantt Abbottabad</p>
    <img src="../../../assets/map.svg" alt="map-flag">
</div>
    </div>
    <div class="footer-followUs-content">
        <h4>Follow us</h4>
        <div class="Social-images">
            <img src="../../../assets/facebook.svg" alt="facebook">
            <img src="../../../assets/instagram (1).png" alt="instagram">
            <img src="../../../assets/twitter.png" alt="twitter">
            <img src="../../../assets/youtube.png" alt="youtube">
        </div>
       
    </div>
</div>
<div class="footer-menu">
    <ul>
        <li>Content</li>
        <li>Disclaimer</li>
        <li>Privacy policy</li>
        <li>@2023  Pvt. Ltd. All rights reserved</li>
    </ul>
</div>
 <div class="responsive-footer">
    <p>Term and Condition</p>
    <p>Privacy</p>
    <p>@2020 Lorem Ipsum, Pvt Ltd</p>
    <p>All rights reserved</p>
 </div>

</div>
