<div class="home-section1">
    <div class="home-section1-text-content">
        <h2>Lorem ipsum dolor sit amet, consectetur </h2>
        <div class="Lorem-ipsom">
            <h2>Lorem ipsum</h2>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        <div class="home-section1-button">
            <button class="">See the best franchises <img class="polygon6-img" src="../../../assets/Polygon6.png"
                    alt="polygon"></button>
        </div>
    </div>
    <div class="home-section1-img">
        <img class="section1-desktop-image" src="../../../assets/Image45.png" alt="Image45">
        <img class="section1-responsive-image" src="../../../assets/Group 1324.png" alt="1234">
    </div>
</div>
<!-- section 2 of Home page  -->

<div class="home-sedtion2-content">
    <div class="home-section2-heading">
        <h1>Lorem Ipsum Dolor</h1>

    </div>
    <div class="home-section2-check-text">
        <ul>
            <li><img src="../../../assets/check.svg" alt="check">Lorem ipsum dolor sit amet.</li>
            <li><img src="../../../assets/check.svg" alt="check">Aliquam tincidunt mauris eu risus.</li>
            <li><img src="../../../assets/check.svg" alt="check">Morbi in sem quis dui placerat ornare, Pellentesque.
            </li>
            <li> <img src="../../../assets/check.svg" alt="check"> Nunc dignissim risus id metus.</li>
            <li> <img src="../../../assets/check.svg" alt="check">Integer vitae libero ac risus egestas placerat.</li>
            <li><img src="../../../assets/check.svg" alt="check">Vivamus vestibulum ntulla nec ante.</li>
            <li><img src="../../../assets/check.svg" alt="check">Praesent placerat risus quis eros.</li>
            <li><img src="../../../assets/check.svg" alt="check"> Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit.</li>
        </ul>
    </div>

</div>
<!-- section4 of home page  -->

<div class="home-section4">
    <div class="home-section4-text-content">
        <h2><strong>Lorem</strong><br> ipsum Dolor </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Integer enim neque volutpat ac tincidunt vitae semper. Ullamcorper eget nulla facilisi etiam
            dignissim diam quis enim. Enim eu turpis egestas pretium aenean pharetra magna ac. Enim nunc faucibus a
            pellentesque sit amet porttitor eget dolor. </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Sapien eget mi proin sed libero enim. Etiam sit amet nisl purus in mollis nunc sed id.
            Placerat in egestas erat imperdiet. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Felis
            eget velit aliquet sagittis id consectetur.</p>
        <p>Read more...</p>
    </div>
    <div class="home-section4-images">
        <div class=" section4-group2116-image-div">
            <Img class="Group2116-img" src="../../../assets/Group2116.png" alt="2116" className=" " />
        </div>
        <img class="Group2394-img" src="../../../assets/Group2394.png" alt="2394">

    </div>
</div>


<!-- section5 of home page  -->

<div class="home-section5">
    <div class="home-section5-heading">
        <h1>Lorem Ipsum Dolor sit amit</h1>
    </div>
    <div class="home-section5-wrap-div">
          <app-card   *ngFor="let card of cardData" [name]="card.name" [src]="card.src" [alt]="card.alt" [text]="card.text"></app-card>
    </div>
</div>

<!-- section6 home page  -->

<div class="home-section6">
    <div class="home-section6-heading">
        <h1>Lorem Ipsum Dolor sit </h1>
    </div>
    <div class="home-section6-imgtext-contents">
        <div class="home-section6-text-centent">
            <p class="steps">STep 1</p>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <img src="../../../assets/next.png" alt="next">
        </div>
        <div class="image-group-1373">
            <img src="../../../assets/Group 1373.png" alt="1373">
        </div>
    </div>
    <div class="home-section6-imgtext-contents">
        <div class="home-section6-text-centent">
            <p class="steps">STep 2</p>
            <h4>Lorem Ipsum</h4>
            <p class="lorem-ipsum-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="../../../assets/next.png" alt="next">
        </div>
        <div class="image-group-1373">
            <img src="../../../assets/question-mark.png" alt="1373">
        </div>
    </div>
    <div class="home-section6-imgtext-contents">
        <div class="home-section6-text-centent">
            <p class="steps">STep 3</p>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <img src="../../../assets/next.png" alt="next">
        </div>
        <div class="image-group-1373">
            <img src="../../../assets/chat (2).png" alt="1373">
        </div>
    </div>
    <div class="home-section6-imgtext-contents">
        <div class="home-section6-text-centent">
            <p class="steps">STep 4</p>
            <h4>Lorem Ipsum</h4>
            <p class="lorem-ipsum-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="../../../assets/next.png" alt="next">
        </div>
        <div class="image-group-1373">
            <img src="../../../assets/share1.png" alt="1373">
        </div>
    </div>
    <div class="home-section6-imgtext-contents">
        <div class="home-section6-text-centent">
            <p class="steps">STep 5</p>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <img src="../../../assets/next.png" alt="next">
        </div>
        <div class="image-group-1373">
            <img src="../../../assets/placeholder.png" alt="1373">
        </div>
    </div>
    <div class="home-section6-imgtext-contents">
        <div class="home-section6-text-centent">
            <p class="steps">STep 6</p>
            <h4>Lorem Ipsum</h4>
            <p class="lorem-ipsum-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque volutpat ac tincidunt.</p>
        </div>
        <div class="image-group-1373">
            <img src="../../../assets/share.png" alt="1373">
        </div>
    </div>
    
    <div class="section6-footer-content">
        <h2>Lorem Ipsum Dolor sit </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer enim neque</p>
    </div>

</div> 
<!-- section7 of home page  -->
<div class="home-section7-cards">
    <div  class="home-section7-cards-content  ">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
    <img src="../../../assets/Mask Group 21.png" alt="21">
    <h4>Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit</p>

</div>
<div  class="home-section7-cards-content content-color2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
        <img src="../../../assets/Mask Group 20.png" alt="21">
        <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit</p>
    
    </div>
    <div  class="home-section7-cards-content content-color3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
            <img src="../../../assets/Mask Group 19.png" alt="21">
            <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit</p>
        
        </div>
        <div  class="home-section7-cards-content  ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
                <img src="../../../assets/Mask Group 16.png" alt="21">
                <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit</p>
            
            </div>
            <div  class="home-section7-cards-content content-color3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Integer enim.</p>
                    <img src="../../../assets/Mask Group 21.png" alt="21">
                    <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit</p>
                
                </div>
</div>

<!-- section8 of home page  -->
<div class="home-section8">
    <div class="section8-image">
        <img src="../../../assets/Mask Group 874.png" alt="874">
    </div>
    <div class="section8-content">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h3>
        <button class="">Schedule a Call Today! </button>
    </div>
   

</div>
